body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.table{
    background-color: white;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 0 2px black;
    width: 100%;
    max-width: 300px;
    max-height: 600px;
}

label {
    font-weight: bold;
}
input, select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input:focus, select:focus {
    border-color:black;
    background-color: aqua;
    outline: none;
}
.buttons {
    display: flex;
    justify-content: space-between;
}

.sub:hover {
    background-color: aqua;
    border: 2px solid black;
}

.canc:hover {
    background-color: aqua;
    border: 2px solid black;
}